


body{
    background: rgb(60,16,83);
background: linear-gradient(90deg, rgba(60,16,83,1) 0%, rgba(111,4,100,1) 100%);
color: white;
}
.header_titele{
    font-size: 3.6rem;
    font-weight: 700;
    color: rgb(0, 0, 153);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.list_header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.heder_main_section{
    margin-top: 15rem;
    display: flex;
    justify-content:  space-evenly;
    align-items: center;
}

.mai_header_rendu{
    filter: blur(4px);
    
}
.rendu_left{
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
}
